In [1]:
import pandas as pd

In [2]:
# loading the .csv file with VES
ves_file = "ves_data/Bishkek15-iVEZ-data.csv"

In [3]:
# loading and formatting for iVEZ (<15 AB/2)
''' AB/2 in cm
   from lowest to highest
   file is comma delimited, but has 2 rows - number of AB/2, number of VES
                                        - values of AB/2, VES1, VES2, VES3, ....
                                        - ends in comma
   13,3
   10,263,80,263,15,245,123,245,22,226,130,226,30,218,137,218,45,195,102,195,60,171,97,171,90,177,89,177,120,185,69,185,180,230,51,230,240,242,0,242,360,250,32,250,480,203,30,203,720,110,28,110,
   
   '''
df = pd.read_csv(ves_file)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AB/2, m      14 non-null     int64
 1   ER-1         14 non-null     float64
 2   ER-2         14 non-null     float64
 3   ER-3         14 non-null     float64
 4   ER-4         14 non-null     float64
 5   ER-5         14 non-null     int64
 6   ER-6         14 non-null     float64
 7   ER-7         14 non-null     float64
 8   ER-8         14 non-null     float64
 9   ER-9         14 non-null     float64
 10  ER-10        14 non-null     float64
 11  ER-11        14 non-null     float64
 12  ER-12        14 non-null     float64
 13  ER-13        14 non-null     float64
 14  ER-14        14 non-null     float64
 15  ER-15        14 non-null     float64
 16  Unnamed: 16  0 non-null      float64
dtypes: float64(15), int64(2)
memory usage: 2.0 KB

In [4]:
df.dropna(axis=1, how='all', inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   AB/2, m  14 non-null     int64
 1   ER-1     14 non-null     float64
 2   ER-2     14 non-null     float64
 3   ER-3     14 non-null     float64
 4   ER-4     14 non-null     float64
 5   ER-5     14 non-null     int64
 6   ER-6     14 non-null     float64
 7   ER-7     14 non-null     float64
 8   ER-8     14 non-null     float64
 9   ER-9     14 non-null     float64
 10  ER-10    14 non-null     float64
 11  ER-11    14 non-null     float64
 12  ER-12    14 non-null     float64
 13  ER-13    14 non-null     float64
 14  ER-14    14 non-null     float64
 15  ER-15    14 non-null     float64
dtypes: float64(14), int64(2)
memory usage: 1.9 KB

In [9]:
# recaclulate AB/2 in cm and rename
df['AB/2'] = df['AB/2, m'] * 100
#df['AB/2, m'].drop(inplace=True)

# reorder columns
first_col = df.pop('AB/2')
df.insert(0, 'AB/2', first_col)
df.head(3)

,AB/2,"AB/2, m",ER-1,ER-2,ER-3,ER-4,ER-5,ER-6,ER-7,ER-8,ER-9,ER-10,ER-11,ER-12,ER-13,ER-14,ER-15
0,200,2,2236.0,1295.0,1424.0,8054.0,2385,1225.0,1920.0,2954.0,104.9,1928.0,5655.0,105.1,279.9,276.9,181.9
1,300,3,1892.0,1330.0,626.6,1454.0,2940,380.6,1445.0,994.6,139.7,7412.0,144.2,122.8,141.1,221.3,914.8
2,400,4,1854.0,620.1,746.0,3113.0,3007,1489.0,1498.0,219.3,104.4,737.7,4698.0,1267.0,317.2,638.7,9423.0

In [11]:
df.drop(columns=['AB/2, m'], inplace=True)

In [16]:
df.round(decimals=0)

,AB/2,ER-1,ER-2,ER-3,ER-4,ER-5,ER-6,ER-7,ER-8,ER-9,ER-10,ER-11,ER-12,ER-13,ER-14,ER-15
0,200,2236.0,1295.0,1424.0,8054.0,2385,1225.0,1920.0,2954.0,105.0,1928.0,5655.0,105.0,280.0,277.0,182.0
1,300,1892.0,1330.0,627.0,1454.0,2940,381.0,1445.0,995.0,140.0,7412.0,144.0,123.0,141.0,221.0,915.0
2,400,1854.0,620.0,746.0,3113.0,3007,1489.0,1498.0,219.0,104.0,738.0,4698.0,1267.0,317.0,639.0,9423.0
3,500,1883.0,2329.0,606.0,3068.0,1881,1348.0,1089.0,825.0,3313.0,1548.0,173.0,4896.0,1909.0,120.0,886.0
4,600,186.0,2572.0,3842.0,5999.0,3556,1547.0,1643.0,2631.0,1568.0,3184.0,2545.0,4115.0,169.0,402.0,5546.0
5,700,1121.0,464.0,624.0,2376.0,6937,3171.0,6444.0,780.0,100.0,3607.0,882.0,3406.0,5738.0,100.0,277.0
6,800,2570.0,101.0,2282.0,5668.0,2103,1488.0,3158.0,707.0,6679.0,3466.0,975.0,162.0,2519.0,746.0,181.0
7,900,724.0,1103.0,2912.0,6286.0,2108,1311.0,483.0,931.0,106.0,243.0,3717.0,8933.0,233.0,781.0,2201.0
8,1000,1205.0,1163.0,1241.0,7150.0,2228,141.0,1775.0,126.0,1015.0,891.0,1718.0,2721.0,421.0,108.0,5696.0
9,1100,722.0,1867.0,122.0,4946.0,2499,281.0,2115.0,127.0,1123.0,115.0,1394.0,140.0,682.0,728.0,6633.0
10,1200,1733.0,1386.0,614.0,214.0,1367,102.0,142.0,3757.0,3876.0,2324.0,240.0,135.0,102.0,2330.0,100.0
11,1300,840.0,3584.0,2302.0,4424.0,4325,141.0,2712.0,418.0,1152.0,5922.0,104.0,226.0,190.0,711.0,843.0
12,1400,632.0,310.0,708.0,4775.0,1747,1527.0,1660.0,501.0,636.0,161.0,442.0,199.0,480.0,292.0,7703.0
13,1500,140.0,677.0,1566.0,7229.0,1686,1954.0,3756.0,3334.0,1200.0,2262.0,571.0,9889.0,280.0,8805.0,213.0

In [17]:
df.head(1)

,AB/2,ER-1,ER-2,ER-3,ER-4,ER-5,ER-6,ER-7,ER-8,ER-9,ER-10,ER-11,ER-12,ER-13,ER-14,ER-15
0,200,2236.0,1295.0,1424.0,8054.0,2385,1225.0,1920.0,2954.0,104.9,1928.0,5655.0,105.1,279.9,276.9,181.9

In [21]:
# save values as 2d list
veslist = df.values.astype(int).tolist()
print(veslist)

[[200, 2236, 1295, 1424, 8054, 2385, 1225, 1920, 2954, 104, 1928, 5655, 105, 279, 276, 181], [300, 1892, 1330, 626, 1454, 2940, 380, 1445, 994, 139, 7412, 144, 122, 141, 221, 914], [400, 1854, 620, 746, 3113, 3007, 1489, 1498, 219, 104, 737, 4698, 1267, 317, 638, 9423], [500, 1883, 2329, 606, 3068, 1881, 1348, 1089, 825, 3313, 1548, 172, 4896, 1909, 120, 885], [600, 186, 2572, 3842, 5999, 3556, 1547, 1643, 2631, 1568, 3184, 2545, 4115, 169, 402, 5546], [700, 1121, 464, 623, 2376, 6937, 3171, 6444, 779, 100, 3607, 881, 3406, 5738, 100, 277], [800, 2570, 101, 2282, 5668, 2103, 1488, 3158, 706, 6679, 3466, 975, 161, 2519, 745, 181], [900, 724, 1103, 2912, 6286, 2108, 1311, 482, 931, 106, 243, 3717, 8933, 233, 780, 2201], [1000, 1205, 1163, 1241, 7150, 2228, 141, 1775, 126, 1015, 891, 1718, 2721, 420, 107, 5696], [1100, 721, 1867, 122, 4946, 2499, 280, 2115, 127, 1123, 114, 1394, 140, 682, 727, 6633], [1200, 1733, 1386, 614, 213, 1367, 101, 141, 3757, 3876, 2324, 240, 135, 101, 2330, 100], [1300, 840, 3584, 2302, 4424, 4325, 141, 2712, 418, 1152, 5922, 103, 225, 190, 711, 842], [1400, 631, 309, 708, 4775, 1747, 1527, 1660, 501, 636, 161, 441, 199, 479, 291, 7703], [1500, 140, 676, 1566, 7229, 1686, 1954, 3756, 3334, 1200, 2262, 570, 9889, 280, 8805, 213]]

In [22]:
# flat ves list
flatves = sum(veslist,[])
print(flatves)

[200, 2236, 1295, 1424, 8054, 2385, 1225, 1920, 2954, 104, 1928, 5655, 105, 279, 276, 181, 300, 1892, 1330, 626, 1454, 2940, 380, 1445, 994, 139, 7412, 144, 122, 141, 221, 914, 400, 1854, 620, 746, 3113, 3007, 1489, 1498, 219, 104, 737, 4698, 1267, 317, 638, 9423, 500, 1883, 2329, 606, 3068, 1881, 1348, 1089, 825, 3313, 1548, 172, 4896, 1909, 120, 885, 600, 186, 2572, 3842, 5999, 3556, 1547, 1643, 2631, 1568, 3184, 2545, 4115, 169, 402, 5546, 700, 1121, 464, 623, 2376, 6937, 3171, 6444, 779, 100, 3607, 881, 3406, 5738, 100, 277, 800, 2570, 101, 2282, 5668, 2103, 1488, 3158, 706, 6679, 3466, 975, 161, 2519, 745, 181, 900, 724, 1103, 2912, 6286, 2108, 1311, 482, 931, 106, 243, 3717, 8933, 233, 780, 2201, 1000, 1205, 1163, 1241, 7150, 2228, 141, 1775, 126, 1015, 891, 1718, 2721, 420, 107, 5696, 1100, 721, 1867, 122, 4946, 2499, 280, 2115, 127, 1123, 114, 1394, 140, 682, 727, 6633, 1200, 1733, 1386, 614, 213, 1367, 101, 141, 3757, 3876, 2324, 240, 135, 101, 2330, 100, 1300, 840, 3584, 2302, 4424, 4325, 141, 2712, 418, 1152, 5922, 103, 225, 190, 711, 842, 1400, 631, 309, 708, 4775, 1747, 1527, 1660, 501, 636, 161, 441, 199, 479, 291, 7703, 1500, 140, 676, 1566, 7229, 1686, 1954, 3756, 3334, 1200, 2262, 570, 9889, 280, 8805, 213]

In [24]:
print(','.join(map(str,flatves)))

200,2236,1295,1424,8054,2385,1225,1920,2954,104,1928,5655,105,279,276,181,300,1892,1330,626,1454,2940,380,1445,994,139,7412,144,122,141,221,914,400,1854,620,746,3113,3007,1489,1498,219,104,737,4698,1267,317,638,9423,500,1883,2329,606,3068,1881,1348,1089,825,3313,1548,172,4896,1909,120,885,600,186,2572,3842,5999,3556,1547,1643,2631,1568,3184,2545,4115,169,402,5546,700,1121,464,623,2376,6937,3171,6444,779,100,3607,881,3406,5738,100,277,800,2570,101,2282,5668,2103,1488,3158,706,6679,3466,975,161,2519,745,181,900,724,1103,2912,6286,2108,1311,482,931,106,243,3717,8933,233,780,2201,1000,1205,1163,1241,7150,2228,141,1775,126,1015,891,1718,2721,420,107,5696,1100,721,1867,122,4946,2499,280,2115,127,1123,114,1394,140,682,727,6633,1200,1733,1386,614,213,1367,101,141,3757,3876,2324,240,135,101,2330,100,1300,840,3584,2302,4424,4325,141,2712,418,1152,5922,103,225,190,711,842,1400,631,309,708,4775,1747,1527,1660,501,636,161,441,199,479,291,7703,1500,140,676,1566,7229,1686,1954,3756,3334,1200,2262,570,9889,280,8805,213

In [25]:
# write values to the .txt file

with open("new_ivez.txt", "w") as file:
  l1 = "14,15\n"
  l2 = ','.join(map(str,flatves)) + ','
  file.writelines([l1,l2])
  file.close()