In [1]:
import pandas as pd
import matplotlib as plt

In [2]:
# loading the .csv file with VES
#ves_file = "ves_data/Bishkek15-iVEZ-data.csv"
#ves_file = "ves_data/LM48-a-ogorod-ves-2.csv"

# those files will have AB/2, MN/2, RES-1, RES-2, ... etc
# write script that will calculate K, ERa, Pseudodepth, present tables and charts

In [ ]:
# loading and formatting data for RES1D - example
'''
Schlumberger test
Array Type (Wenner or Schlumbeger)
Schlumberger
Number of data points
14
Data Type (Resistivity,IP,SIP)
Resistivity
Error in measurements included (Yes,No)
No
Data section
'''

In [ ]:
# saving separate .dat VES files

In [3]:
# loading and formatting for iVEZ (<15 AB/2)
''' AB/2 in cm
   from lowest to highest
   file is comma delimited, but has 2 rows - number of AB/2, number of VES
                                        - values of AB/2, VES1, VES2, VES3, ....
                                        - ends in comma
   13,3
   10,263,80,263,15,245,123,245,22,226,130,226,30,218,137,218,45,195,102,195,60,171,97,171,90,177,89,177,120,185,69,185,180,230,51,230,240,242,0,242,360,250,32,250,480,203,30,203,720,110,28,110,
   
   '''
df = pd.read_csv(ves_file)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AB/2    21 non-null     float64
 1   ER-all  21 non-null     float64
 2   ER-10   21 non-null     float64
dtypes: float64(3)
memory usage: 632.0 bytes

In [4]:
df.dropna(axis=1, how='all', inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AB/2    21 non-null     float64
 1   ER-all  21 non-null     float64
 2   ER-10   21 non-null     float64
dtypes: float64(3)
memory usage: 632.0 bytes

In [7]:
# recaclulate AB/2 in cm and rename
df['AB/2cm'] = df['AB/2'] * 100
#df['AB/2, m'].drop(inplace=True)

# reorder columns
first_col = df.pop('AB/2cm')
df.insert(0, 'AB/2cm', first_col)
df.head(3)

   AB/2cm  AB/2      ER-all       ER-10
0    22.0  0.22  257.948237  257.948237
1    30.0  0.30  312.718880  312.718880
2    45.0  0.45  126.360272  126.360272

In [8]:
df.drop(columns=['AB/2'], inplace=True)

In [9]:
df.round(decimals=0)

    AB/2cm  ER-all  ER-10
0     22.0   258.0  258.0
1     30.0   313.0  313.0
2     45.0   126.0  126.0
3     60.0   186.0  186.0
4     90.0   158.0  158.0
5    100.0   153.0  153.0
6    120.0   147.0  147.0
7    180.0   119.0  119.0
8    200.0   108.0  108.0
9    240.0    98.0   98.0
10   300.0    84.0   84.0
11   360.0    66.0   66.0
12   400.0    57.0   57.0
13   480.0    47.0   47.0
14   500.0    42.0   43.0
15   600.0    39.0   38.0
16   700.0    33.0   30.0
17   720.0    29.0   27.0
18   800.0    34.0   36.0
19   900.0    34.0   32.0
20  1000.0    20.0   15.0

In [11]:
# create a subset df15 - for iVEZ only accepts 15 AB/2

df15 = df.loc[df['AB/2cm'].isin([22, 30, 45, 60, 90, 120, 180, 240, 300, 360, 480, 600, 720, 900, 1000])]
df15.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 20
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AB/2cm  15 non-null     float64
 1   ER-all  15 non-null     float64
 2   ER-10   15 non-null     float64
dtypes: float64(3)
memory usage: 480.0 bytes

In [10]:
df.head(1)

   AB/2cm      ER-all       ER-10
0    22.0  257.948237  257.948237

In [12]:
# save values as 2d list
veslist = df15.values.astype(int).tolist()
print(veslist)

[[22, 257, 257], [30, 312, 312], [45, 126, 126], [60, 186, 186], [90, 158, 158], [120, 146, 146], [180, 119, 119], [240, 98, 98], [300, 84, 84], [360, 65, 65], [480, 46, 46], [600, 38, 38], [720, 28, 26], [900, 33, 31], [1000, 20, 14]]

In [13]:
# flat ves list
flatves = sum(veslist,[])
print(flatves)

[22, 257, 257, 30, 312, 312, 45, 126, 126, 60, 186, 186, 90, 158, 158, 120, 146, 146, 180, 119, 119, 240, 98, 98, 300, 84, 84, 360, 65, 65, 480, 46, 46, 600, 38, 38, 720, 28, 26, 900, 33, 31, 1000, 20, 14]

In [14]:
print(','.join(map(str,flatves)))

22,257,257,30,312,312,45,126,126,60,186,186,90,158,158,120,146,146,180,119,119,240,98,98,300,84,84,360,65,65,480,46,46,600,38,38,720,28,26,900,33,31,1000,20,14

In [15]:
# write values to the .txt file

with open("a-ogorod_ivez2.txt", "w") as file:
  l1 = "15,2\n"
  l2 = ','.join(map(str,flatves)) + ','
  file.writelines([l1,l2])
  file.close()